<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwipeDownDismissSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A269FAF51C05B7F10082E655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A269FB0E1C05B7F20082E655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A269FB191C05B7F20082E655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
